@import 'nib'
@import 'palette'

$sidebarWidth = 240px

.admin-layout
  main, footer
    padding-left $sidebarWidth

@media only screen and (max-width 992px)
  .admin-layout
    main, footer
      padding-left 0
    header
      &.navbar-fixed
        min-height 4rem !important
      nav
        min-height 4rem !important
        padding-left 0 !important
        .page-title
          padding 0 !important
          small
            display none !important
          small2
            display inline-block !important
    main
      padding 0
  .admin-actions
    margin-right 0rem !important

.admin-layout
  header
    &.navbar-fixed
      min-height 10rem
    nav
      padding-left $sidebarWidth
      box-sizing border-box
      min-height 10rem
      .valign-wrapper
        justify-content space-between
      .page-title
        font-size 2rem
        padding 0rem 3rem
        font-weight 300
        display block
        float left
        line-height normal
        small, small2
          display block
          font-weight 200
          font-size 0.7em
          text-transform capitalize
          position absolute
        small2
          position static
          font-size 1em
          display none

      .btn-fab
        line-height normal
        height initial
        margin-left 0.2rem
        margin-top 0.2rem
        border-radius 3rem
        padding 0 0.2rem
        &:hover
          i
            // .transform(rotate(360deg))
        &.button-collapse
          position absolute
           margin-left 0.3rem
           margin-top 0.9rem
        i
          line-height 1.2
          font-size 2rem
          height initial
          // .transition (transform .3s ease)
  main
    section.main
      // padding 1rem 0
      // background-color #FFF
      padding 1rem
      // margin-top -1rem
      // z-index 999
      // position relative

.card
  .card-image
    .card-icon
      font-size 13rem
      position absolute
      right 0
      bottom -6rem
      opacity .1
  .card-title
    &.large
      position absolute
      top 1rem
      left 1rem
      padding 0
      font-size 3rem
      font-weight 100

.dashboard-card
  .card-image
    min-height 10rem
    overflow hidden

  .card-subtitle
    padding 0.3rem 1.5rem
    font-weight 100
    font-size 1rem

  .btn-action
    position absolute
    right 1rem
    margin-top -4rem
    cursor pointer

.admin-actions
  margin-right 2rem
  li
    // line-height 8.4rem
    padding-left .6rem
    &:hover, &.active
      background-color rgba(0, 0, 0, 0)
    a
      position static
      display inline-block !important
      float none

.user-dropdown
  padding 0
  .card
    margin 0
    .card-content
      a
        padding 0

.side-nav
  &.fixed a, a
    padding 0
  .collapsible
    li
      transition (background-color .1s ease)
      a
        transition (color .1s ease)
    li:hover
      background-color $accentColor
      a
        color $textPrimaryColor
  .collapsible-header
    line-height 3rem
    margin 0
  .collapsible-body
    ul
      background-color $lightPrimaryColor
      color $primaryTextColor
    li
      a
        line-height 3rem
        height auto
  .card
    margin 0
    .card-content
      padding-top 0.2rem
      padding-bottom 0.2rem

.show-select
  select
    display block
  .dataTables_length
    select
      width 100%


.select-dropdown
  z-index 10

.table-footer
  padding 1rem

.pagination
  .previous, .next
    a
      color #fff
  .previous
    a:before
      color $textPrimaryColor
      content: "<"
  .next
    a:after
      color $textPrimaryColor
      content: ">"
